
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.pagina {
  display: grid;
  grid-template-columns: 10% 10% 60% 10% 10%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.cabecalho {
  grid-area: 1 / 2 / 1 / 5;
}

.menu {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.menu li {
  justify-content: flex-end;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  height: 10vh;
}

.menu li a {
  text-decoration: none;
}

.blog {
  grid-area: 2 / 3 / 6 / 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}

.begin {
  height: 10vh;
}

.post {
  list-style: none;
}

.form {
  display: flex;
  flex-flow: column;
}

.big {
  width: 100px;
  align-self: center;
}